:root {
  --accent: #F71735;
  --black: #1e1e1e;
  --bg: #f9f9f9;
  --shadow: #c6c6c682;
}

*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--bg);
  color: var(-black);
}

.bg {
  filter: opacity(15%) blur(2px);
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 600px;
  background-image: url('/assets/bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-media {
  font-size: 1.2rem;
  color: var(--black);
  list-style: none;
  justify-content: end;
  padding: 15px 10px;
  font-weight: 300;
}

.social-media a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.container {
  max-width: 900px;
  margin: auto;
}

.navbar {
  display: flex;
  gap: 1rem;
}

.portfolio-link {
  margin-right: auto;
}

.hero { 
  font-size: 1.2rem;
  margin: 40px 0;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.hero h1,
.hero h3
{ 
  font-family: Roboto Slab, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
}

.btn {
  background: var(--accent);
  color: var(--bg);
  text-decoration: none;
  padding: 5px;
  border-radius: 30px;
  padding: 15px 25px;
  font-size: .8rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: all ease-in-out 100ms;
}

.pill {
  padding: 5px 12px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: none;
}

.pill:hover {
  box-shadow: none !important;
}

.btn:hover {
  transform: translate3d(0, -2px, 0);
  box-shadow: 0 1px 5px var(--shadow);
}

.about {
  background: #ffffffee;
  color: var(--black);
  border-radius: 20px;
  padding: 20px;
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 2rem;
  box-shadow: 0 2px 10px var(--shadow);
  max-width: 900px;
  margin: 0 auto;
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.about h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

.about img {
  width: 180px;
  border-radius: 50%;
}

.about p {
  font-weight: 400;
  line-height: 2rem;
  font-size: 1.2rem;
}

.cta-text {
  font-weight: 900;
}

#portfolio {
  margin: 40px auto;
}

#portfolio h2 {
  margin: 20px 10px;
}

.portfolio {
  display: flex;
  gap: 2rem;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: white;
  padding: 8px;
  border: 1px solid var(--shadow);
  border-radius: 15px;
  max-width: 200px;
}

.copy {
  width: 100%;
  display: block;
  text-align: center;
  padding: 40px 0;
}

@media screen and (min-width: 600px) {
  .about__content {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: start;
    width: 100%;
  }
}
